.column2 ul {
  font-size: large;
  font-style: italic;
  color: #570530;
  font-weight: bolder;
  line-height: 3.0;
}

.column3 ul {
  font-size: small;
  font-family: Georgia;
  font-style: italic;
  color: #614124;
  font-weight: bold;
  line-height: 2.6;
}

h3 {
  font-size: x-large;
  text-align: center;
}

.column2 img {
  border: 5px solid #D9D7F1;
}